.bg-baner{
    background-color: rgba(124, 3, 3);
    background-image: url('../assets/baner2.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: -50px;
    

}

.text-meu-azul{
    color: #09d1d1;
}
